*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease-out;

}



.header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 8rem;
  background: rgb(221, 220, 220);
}

.header .logo{
text-transform: uppercase;
 display: flex;
}

.header .logo .icon{
  color: #2ba84a;
  font-size: 2.5rem;
  margin:0.5rem 0.4rem;
}

.header .logo h2{
  font-size: 2.5rem;
  font-size: 500;
}

.header .search-bar,
.header .active{
      padding:0 1.8rem;
}
.header .search-bar input,.header .active input{
      width: 250px;
      height: 2.5rem;
      font-size: 1.2rem;
      border:1px solid black;
}
.header .search-bar .icon-1,
.header .active .icon-1
{
         background: #2ba84a;
         color: white;
         height: 2.5rem; 
         width: 60px;
         margin:-0.9rem -0.3rem;
}
.icon-2{
  color: #2ba84a;
         height: 2.5rem; 
         width: 60px;
         margin:-0.9rem -0.3rem;
         display: none;
}


.flexSB{
  display: flex;
  justify-content: space-between;
}
.navbar{
                 background-color:#fff;
                 margin: 0 30px;
                 box-shadow: 0px 10px 10px rgba(0, 0,0,0.3);
}

.navbar ul{
        display: flex;         
        padding: 30px 20px;
}
.navbar li{
                 margin-right:2rem;
                 list-style: none;
                 cursor: pointer;
                 list-style: none;
                 text-decoration: none;

}
.navbar ul li a{
                  font-size: 1.2rem;
                  text-decoration: none; 
                 color: black;
                 font-weight:bold;
                 transition: 0.5s;
                 
}
.navbar ul li a:hover{
                 color: #2ba84a;
}
.start{
                 background: #2ba84a;
                 padding: 25px 70px;
                 color: #fff;
                 /* clip-path: polygon(10% 0,100% 0,100% 100%, 0 100%); */
                 clip-path: polygon(100% 0%, 93% 50%, 100% 99%,0% 100% ,7% 50%, 0% 0%);
                  
                }
.start .i{
  margin-left: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.toggle{
  display: none;
}

.home .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 7rem;
}
 .image{
  flex: 1 1 25rem;
 }
 .image img{
  width: 100%;
  height: 100%;
 }
 .content{
  flex: 1 1 25rem;
 }
 .content p{
  font-size: 2rem;
  color: #666;
  font-weight: 500;
 }
 .content h1{
  font-size: 3rem;
  color: #222;
  font-weight: 650;
  line-height: 3rem; 
 }
 .btn{
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  background: #2ba84a;
  color: #fff;
  border: none;outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top:1rem;
 }
 .btn:hover{
  letter-spacing: 1px;
 }
 .offer_box{
      display: flex;
      flex-wrap: wrap;
      gap: 1.6rem;
      padding:1rem 10rem;
  }
  .offer_content{
   flex: 1 1 30rem;
    height: 15rem;
    overflow:hidden;
    position: relative;  
   
  }
  .offer_content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
   
  .offer_content:hover img,
  .offer_content:focus img
  {
    transform:scale(1.2) rotate(-5deg);
  }
  .offer_content .content{
    position: absolute;
    top: 15%; left: 2%;
  }
  .offer_content .content h3{
    font-size: 2rem;
  }
  .offer_content .content p{
         font-size: 1.5rem;
  }  
  .offer_content .btn{
    font-size: 1rem;
  }

  .heading{
    text-align: center;
    color:var(--black);
    text-transform: uppercase;
    padding:1rem;
    font-size: 3.5rem;
    padding-bottom: 2rem;
    }
    .heading span{ 
         color: #2ba84a;
    }
    .container_box{
      display: flex;
      flex-wrap: wrap; 
      padding: 1rem 2rem;
      gap: 1rem;
      text-align: center;
      padding-left: 10rem;
    }
    .container_box .box{
             /* flex: 1 1 10rem; */
             width: 250px;
              border: 1px solid black;
              padding: 1rem;        
    }
    .container_box .box h3{
          font-size: 1.8rem;
    } 
    .container_box .box p{
      font-size: 1.5rem;
      margin-top: -0.5rem;
    }
    .container_box .box img{
              width: 70%;
              object-fit: cover;
    }
    .container_box .box .btn{
           font-size: 1rem;
    }
    
   

.slick-slide{
      width: 400px;
         background: greenyellow;
         gap: 2rem;
         margin-left: 2rem;
    }
    

 @media screen and (max-width:1024px) {
  .image{
    flex: 1 1 20rem;
     
  }
   
   .content{
    flex: 1 1 20rem;
   }
 }
@media(max-width:786px) {
      .offer_box{
        padding:0 6rem;
      }
  .start{
      clip-path: none;
  }    
  .navbar{
      margin: 0;
      background-color: #2ba84a;
      position: relative;
  }
  .navbar ul.flexSB{
      display: none;
  }
  .navbar ul li{
      margin-bottom: 20px;
  }
  .toggle{
      display: block;
      background-color:transparent;
      border: none;
      color: #fff;
      font-size: 30px;
      position: absolute;
      right: 50px;
      top: 25px;
  }
  .mobile-nav{
      position: absolute;
      top: 8vh;
      left: 0;
      width: 100%;
      background-color: #2ba84a;
      flex-direction: column;
  }
  a{
      text-decoration: none;
  }
  li{
      list-style: none;
  }
  button{
      border: none;
  }
 }
 


 @media screen and (max-width:584px) {
  .image{
    flex: 1 1 20rem;
   }
   
   .content{
    flex: 1 1 20rem;
   }
   .content h1{
    font-size: 2rem;
   }
   .btn{
    padding: 0.5rem 2rem;
  font-size: 1.5rem;
   }
 }
 
 @media screen and (max-width:464px) {
  .offer_box{
    padding:0 2rem;
  }
  .image{
    flex: 1 1 25rem;
   }
   .image img{
    width: 270px;
   }
   .content{
    /* flex: 1 1 30rem; */
      width: 270px;
   }
   
   .content p{
    font-size: 1.4rem;
   }
   .content h1{
    font-size: 1.8rem;
   }
   .container_box{
     padding-left: 4rem; 
  }
 }

 @media screen and (max-width:418px) {
   .content{
    padding:0rem 3rem;
   }
  .content p{
    font-size: 1rem;
   }
   .content h1{
    width: 225px;
    /* margin-left: 2rem; */
    font-size: 1.5rem;
    line-height: 1.8rem;
   }
   .btn{
    font-size: 1rem;
   }
   .offer_content .content{
    padding:0 0.5rem;
   }
 }

@media screen and (max-width:820px) {
                 .header{
                  padding: 1rem 2rem;                 
                 }
}

@media screen and (max-width:620px) {
                .header .search-bar{
                  position: absolute;
                  top: 24%; right:110%;
                  width: 80%;
                  transition: all 0.3s ease;
                }
              
                .header .active{
                  position: absolute;
                  top:22%; right:-1rem;
                  width: 100%;
                  padding:2.5rem 2rem;
                }
                
                .header .active input{
                  width: 80%;
                  height: 2.5rem;
                  font-size: 1.2rem;
                  border:1px solid black;
                }
                .header .active .icon-1{
                     background: #2ba84a;
                     color: white;
                     height: 2.5rem; 
                     width: 10%;
                     margin:-0.9rem -0.3rem;
                }    
                .icon-2{
                  display: inline-block;
                }           
               .header .search-bar input{
                  width: 80%;
                  
                }

}



@media screen and (max-width:333px) {
 
.header .search-bar{
  padding:0 1rem;
}                
.header .search-bar .icon-1{
  width:40px;
}
.start{
  padding: 25px 40px;
}
}

@media screen and (max-width:300px){
              .header{
                  padding: 1rem 1rem;                 
                 }
                 .mobile-nav{
                  top: 10vh;
                 }
                 
                 .offer_content .content h3{
                  font-size: 1.5rem;
                }
                .offer_content .content p{
                       font-size: 1rem;
                }  
                .offer_content .btn{
                  font-size: 0.8rem;
                }
                }

                @media (max-width:1024px){
                  .container_box{
                    padding-left: 5rem;
                  }
                  .container_box .box{
                    width: 200px;
                  }
                }